*{
    margin: 0;
    padding: 0;
}
.navbar{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 20px;
}
.navbar button{
    background-color: rgb(30, 115, 180);
    color: white;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.navbar button:hover{
    cursor: pointer;
}
