<p>home-user works!</p>
<section id="home" class="section">
    <div class="welcome">
        <div class="welcome-image">
            <img src="" alt="welcome-image">
        </div>
        <div class="welcome-text">
            <p style="font-weight: 900;">Welcome Back!</p>
            <p style="color: blue; font-size: 30px; font-weight: 900;">User Name</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel maiores nihil magni rem repellendus
                illum optio iusto exercitationem iste, soluta ullam iure unde nemo natus eius dolore
                voluptatibus dicta! Nobis.</p>
        </div>
    </div>
</section>