
<body>
    <div class="sidebar">

        <div class="user" >
            <p>User</p>
        </div>
        <hr>
        <div class="profile" id="nav-profile">
            <p>Profile</p>
        </div>
        <div class="projects" id="nav-projects">
            <p>Projects</p>
        </div>
        <div class="notifications" id="nav-notifications">
            <p>Notifications</p>
        </div>
        <div class="logout">
            <p>Log Out</p>
        </div>

    </div>
    <div class="container">
        
    </div>
