<main>
    <app-sidebar (selectSection)="onSectionSelected($event)"></app-sidebar>
    <div class="dashboard-container">
        <app-home-admin *ngIf="selectedSection === 'home'"></app-home-admin>
        <app-projects-admin *ngIf="selectedSection === 'projects'"></app-projects-admin>
        <app-users-admin *ngIf="selectedSection === 'users'"></app-users-admin>
        <app-notifications-admin *ngIf="selectedSection === 'notifications'"></app-notifications-admin>
        <app-logout-admin *ngIf="selectedSection === 'logout'"></app-logout-admin>
    </div>
</main>