.logout-container {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px 40px;
    text-align: center;
    width: 300px;
}

.logout-container h2 {
    color: black;
    margin-bottom: 20px;
}

.logout-container p {
    color: black;
    font-size: 16px;
    margin-bottom: 20px;
}

.logout-container button {
    background-color: #333;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.logout-container button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
}