<p>users-admin works!</p>
<section id="users" class="section" style="display: none;">
    <button>All Registered Users</button>
    <button>Assigned Users</button>
    <button>Unassigned Users</button>
    <div class="all-registered-users">
        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Assigned to</th>
                <th>Actions</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button>Remove</button>
                </td>
            </tr>
        </table>
    </div>
    <div class="unassigned-users">
        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Assigned to</th>
                <th>Actions</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button>Remove</button>
                </td>
            </tr>
        </table>
    </div>
    <div class="assigned-users">
        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Assigned to</th>
                <th>Actions</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button>Remove</button>
                </td>
            </tr>
        </table>
    </div>
</section>